{% assign current = page.url | downcase | split: '/' %}
<li {% if current[1] == 'index.html' %}class="active"{% endif %}><a class="waves-effect" href="./index.html">Gráficos</a></li>
<li {% if current[1] == 'table.html' %}class="active"{% endif %}><a class="waves-effect" href="./table.html">Tablas</a></li>
<li {% if current[1] == 'rep.html' %}class="active"{% endif %}><a class="waves-effect" href="./rep.html">Informes</a></li>
<li {% if current[1] == 'about.html' %}class="active"{% endif %}><a class="waves-effect" href="./about.html">Quien Somos</a></li>
<li {% if current[1] == 'post_collect_install_instructions' %}class="active"{% endif %}><a class="waves-effect" href="./post_collect_install_instructions">Instalar POST Datos</a></li>